<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>H1 webpage</h1>
        <h2><a href="{% url 'h2' %}">navigate to h2</a></h2>
        <h2><a href="{% url 'app2:shwetha' %}">Navigate to shwetha page</a></h2>
        <h2><a href="{% url 'app2:soni' %}">navigate to soni page</a></h2>
    </center>
</body>
</html>